*,*::before, *::after {
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background: lightblue;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 5.6rem);
    grid-template-rows: minmax(6.4rem, auto) repeat(5, 5.6rem);
}

//select all buttons in calculator grid//
.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color:rgb(174, 177, 177, .75);
}

.calculator-grid > button:hover {
    cursor: pointer;
    background-color: rgb(174, 177, 177);
    color: white;
    transition: 0.1s ease-in-out;
}

.calculator-grid > button:active {
    transform: translateY(.3rem);
    border: none;
}

.output {
    grid-column: 1 / -1;
    background-color: rgb(31, 30, 30, .50);
    border-radius: 1rem 1rem 0 0;
    border: white solid 1px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 0.7rem;
    word-wrap: break-word;
    word-break: break-all;
    
}

.output .previous-operand {
    color: rgb(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}

.span-two {
    grid-column: span 2;
}